html, body {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Evita el scroll en ambas direcciones */
    box-sizing: border-box;
}

#deco {
    max-width: 100%;
    max-height: 100%;
}

.decouno {
    position:fixed;
    top: -28%;
    right: -35%;
    z-index: 9999;
}

.decouno img {
    max-width: 75%;
    height: auto;
}

.decodos {
    position:fixed;
    bottom: -25%;
    left: -25%;
    z-index: 9999;
}

.decodos img {
    max-width: 75%;
    height: auto;
}

.decotres {
    position:fixed;
    top: 5%;
    left: 2%;
    z-index: 9999;
}

.decotres img {
    max-width: 55%;
    height: auto;
}

.decocuatro {
    position:fixed;
    bottom: 5%;
    right: 2%;
    z-index: 9999;
}

.decocuatro img {
    max-width: 55%;
    height: auto;
}

::-webkit-scrollbar {
    width: 6px;
    background-color:rgb(48, 48, 48);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(164, 233, 239);
  }

#desc {
    position: relative;
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden; 
}

#desc::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e5e5f7;
    opacity: 0.1;
    background-image: repeating-linear-gradient(45deg, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000), repeating-linear-gradient(45deg, #000000 25%, #e5e5f7 25%, #e5e5f7 75%, #000000 75%, #000000);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    z-index: 1;
}

#desc > * {
    position: relative;
    z-index: 2;
}

h1 {
    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: 29px;
    text-transform: uppercase;
    color: rgb(254, 254, 254);
}

b {
    font-weight: normal;
}

b.uno {
    color: rgb(254, 214, 255);
}

b.dos {
    color: rgb(179, 247, 255);
}

b.tres {
    color: rgb(194, 203, 245);
}

h2 {
    color: rgb(254, 254, 254);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: -15px;
    opacity: 1;
}


#container {
    height: 66%;
    border-top: 1px solid rgb(196, 241, 255);
    border-bottom: 1px solid rgb(196, 241, 255);
    display: flex;
    overflow: hidden; 
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2%;
}

.nav a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 30px;
    color: rgb(255, 255, 255);
    padding: 10px 10px 10px 20px; 
    position: relative; 
}

.nav a:hover {
    color: rgb(233, 147, 204);
    transition: 0.3s;    
}

.nav a.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px; 
    background: rgb(254,208,251);
    background: linear-gradient(100deg, rgba(254,208,251,1) 0%, rgba(251,208,204,1) 100%);
}

.navmovil {
    list-style: none;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    width: 20px;
    display: none;
}

.navmovil a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    color: rgb(255, 255, 255);
    padding: 0 0 0 5px; 
    position: relative; 
    width: 100%;
    margin-left: -40px;

}

.navmovil a:hover {
    color: rgb(233, 147, 204);
    transition: 0.3s;    
}

.navmovil a.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px; 
    background: rgb(254,208,251);
    background: linear-gradient(100deg, rgba(254,208,251,1) 0%, rgba(251,208,204,1) 100%);
}

.gifscontainer {
    height: 90%;
    width: 73%;
    margin: 2% 2% auto 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll; 
    overflow-x: hidden; 
}


.gifsbox {
    height:100%;
    width:100%;
}

img {
    margin: 2px;
    max-width: 100%; 
    height: auto;
}


#footer {
    position: relative;
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden; 
}

#footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e5e5f7;
    opacity: 0.1;
    background-image: repeating-linear-gradient(45deg, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000), repeating-linear-gradient(45deg, #000000 25%, #e5e5f7 25%, #e5e5f7 75%, #000000 75%, #000000);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    z-index: 1;
}

#footer > * {
    position: relative;
    z-index: 2;
}

@media (min-width: 1600px) and (max-width: 1920px) { 

    .decouno {
        top: -20%;
        right: -25%;
    }
    
    .decodos {
        bottom: -20%;
        left: -15%;
    }
    
    .decotres {
        top: 6%;
        left: 2%;
    }
    

    .decocuatro {
        bottom: 6%;
        right: 2%;
    }
    

    .gifscontainer {
        height: 90%;
        width: 78%;
    }

 }


@media (max-width: 1440px) and (max-width: 1599px) { 

    .decouno {
        top: -25%;
        right: -35%;
    }
    
    .decodos {
        bottom: -25%;
        left: -25%;
    }
    
    .decotres {
        top: 6%;
        left: 2%;
    }
    

    .decocuatro {
        bottom: 6%;
        right: 2%;
    }
    
}


@media (max-width: 1280px) {

    .decouno {
        top: -35%;
        right: -40%;
    }
    
    .decodos {
        bottom: -35%;
        left: -30%;
    }
    
    .decotres {
        top: 5%;
        left: 2%;
    }
    

    .decocuatro {
        bottom: 5%;
        right: 2%;
    }

    .gifscontainer {
        width: 68%;
    }
    
}

@media (max-width: 1024px) {

    .decouno {
        top: -28%;
        right: -55%;
    }
    
    .decouno img {
        max-width: 65%;
    }
    
    .decodos {
        bottom: -25%;
        left: -35%;
    }
    
    .decodos img {
        max-width: 65%;
    }
    
    .decotres {
        top: 6%;
        left: 2%;
    }
    
    .decotres img {
        max-width: 35%;
    }
    
    .decocuatro {
        bottom: 6%;
        right: 2%;
    }
    
    .decocuatro img {
        max-width: 35%;
    }

    .gifbox img {
        max-width: 32%;
    }
    
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 10px;
        margin-top: -10px;
    }

    .nav a {
        font-size: 11px;
    }
 
}

@media (max-width: 768px) {
    .decouno {
        top: -30%;
        right: -85%;
    }
    
    .decouno img {
        max-width: 55%;
    }
    
    .decodos {
        bottom: -30%;
        left: -35%;
    }
    
    .decodos img {
        max-width: 55%;
    }
    
}

@media (max-width: 480px) {

    .gifscontainer {
        height: 100%;
        width: 100%;
        margin: 1%;
    }

    #container {
        height: 80%;
    }

    .nav {
        display: none;
    }

    .navmovil {
        display: flex;
    }
    .gifbox img {
        max-width: 23%;
    }

    #desc {
        height: 10%;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 3px;
    }

    h2 {
        font-size: 8px;
        margin-top: -8px;
    }

    #footer {
        height: 10%;
    }

    .decouno {
        top: -23%;
        right: -150%;
    }
    
    .decouno img {
        max-width: 35%;
    }
    
    .decodos {
        bottom: -10%;
        left: -15%;
    }
    
    .decodos img {
        max-width: 35%;
    }
    
    .decotres {
        top: 3%;
        left: 2%;
    }
    
    .decotres img {
        max-width: 20%;
    }
    
    .decocuatro {
        bottom: 3%;
        right:-10%;
    }
    
    .decocuatro img {
        max-width: 20%;
    }

}